<%= form_for @trip do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1> Add a Trip (trips_form partial)</h1>
  <div>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.text_area :country %>
  </div>

	<%= f.fields_for :photos do |photos_form| %>
      <li> 
        <%= photos_form.label :description %>
        <%= photos_form.text_field :description %>
      </li>
			  <div class="field">
					add an image....
					<%= photos_form.file_field :image, multiple: true, name: "photos[image][]" %>
				</div>
<!--    <= file_field_tag "images[]", type: :file, multiple: true %>-->
	<div>
    <%= f.submit %>
  </div>

<% end %>
<% end %>