<%= form_for @trip do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1> Add a Trip (trips_form partial)</h1>
  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :country %>
    <%= f.text_area :country %>
  </div>

<%= f.fields_for :photos do |photos_form| %>
      <li>
        <%= photos_form.label :photo_url %>
        <%= photos_form.text_field :photo_url %>
 
        <%= photos_form.label :description %>
        <%= photos_form.text_field :description %>
      </li>
    <% end %>
  
	<div>
    <%= f.submit %>
  </div>

<% end %>