<h1>EXPLORE!</h1>
<% @trips.each do |trip| %>
<div class="card" style="width: 300px;">
  <div class="card-divider">
    <p><%= trip.user_id %>'s trip to <%= trip.city %>(FIX USERNAME)</p>
		<p><%= trip.country%></p>
  </div>
<!--  < image_tag(@photo.image_url.to_s) %>-->
  <div class="card-section">
		<p>ADD PHOTO COUNT</p>
		<a><%= link_to 'Show', trip_path(trip) %></a>
    <a><%= link_to 'Add to my List', edit_trip_path(trip) %></a>
  </div>
</div>	    
<% end %>
