<div class="explorecontainer">
    <% @trips.each do |trip| %>
    <div class="image">
        <figure class="cap-bot">
            <div class="overlay">
                <a><%= trip.user.username %>'s trip to</a>
                <br>
                <a id="tripcity"><%= trip.city %></a>
                <br>
                <a><%= trip.country%></a>
            </div>
            <%= image_tag(trip.photos.first.image_url(:resize).to_s) %>
            <%= link_to trip_path(trip) do%>
            <figcaption>
                <%= trip.photos.count %>
                photos
            </figcaption>
            <% end %>
        </figure>
    </div>
    <% end %>
</div>
