<h1>Your trips honeyyyy!!!</h1>

<% @trips.each do |trip| %>
		<p><%= trip.city %></p>
    <a><%= link_to 'Show', trip_path(trip) %></a>
    <a><%= link_to 'Edit', edit_trip_path(trip) %></a>
    <a><%= link_to 'Destroy', trip_path(trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></a>
<% end %>
<p>
<%= link_to 'Add A Trip', new_trip_path %>
</p>