<h1>Indexxxx honeyyyy!!!</h1>


 <%=  @trips.each do |trip| %>
	<%= Trip.pluck(:city).uniq %>
<!--	<ul>-->
		<li><%= trip.city %></li>
<!--      <li>< trip.country %></li>-->
<!--      <td>< photo.photo_url %></td>-->

      <a><%= link_to 'Show', trip_path(trip) %></a>
      <a><%= link_to 'Edit', edit_trip_path(trip) %></a>
      <a><%= link_to 'Destroy', trip_path(trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></a>
    </ul>
  <% end %>
