<h1>Your trips honeyyyy!!!</h1>

<% if @trips.count == 0 %>
<p>Add your first trip!</p>
<% else %>
<% @trips.each do |trip| %>
    <h4>
			<%= link_to trip_path(trip) do %>
				<%= trip.city %>
			<% end %>
		</h4>
    <a><%= link_to 'Edit', edit_trip_path(trip) %></a>
    <a><%= link_to 'Destroy', trip_path(trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></a>
<% end %>
<% end %>

<div>
	<button>
		<%= link_to 'Add A Trip', new_trip_path %>
	</button>
	<button>
		<%= link_to 'Explore', trips_explore_path %>
	</button>
</div>