<html>

<body>
	<div class='trips-container'>
		<h1>Where I've been</h1>

			<% if @trips.count == 0 %>
				<!-- <p>Add your first trip!</p> -->
			<% else %>

			<% @trips.each do |trip| %>
				<div class="image">
					<figure class="cap-bot">
						<div class="overlay2">
							<h4><%= link_to trip_photos_path(trip) do %>
									<%= trip.city %></h4>
						</div>
							<% end %>
							<%= image_tag(trip.photos.first.image_url(:resize).to_s) %>
							<figcaption>
								<div id="tripedit">
									<a><%= link_to 'Edit', edit_trip_path(trip) %></a>
								</div>
								<div id="tripdelete">
									<a><%= link_to 'Destroy', trip_path(trip),
											method: :delete,
											data: { confirm: 'Are you sure?' } %></a>
								</div>
							</figcaption>
					</figure>
				</div>
			<% end %>
		<% end %>
		<div class="addtrip">
			<button><%= link_to 'Add A Trip', new_trip_path, class: 'button-gradient' %></button>
		</div>
	</div>
	<!-- <div>
		<h1>You're Going</h1>
	</div> -->
</body>

</html>
