<h1>Show honeyyy!!!</h1>

<p>
<%= @trip.city %>
</p>

<h4>photos</h4>
	<p>
<!--FIXME		<=image_tag(@trip.photos,  :height => 150, :crop => :fill) %>-->
		<div>
		<% if current_user.id == @trip.user_id %>
		<a><%= link_to 'Edit', edit_trip_path %></a>
    <a><%= link_to 'Destroy', trip_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></a>
<% end %>
			</div>
	</p>

		
<%= render @trip.photos %>


<!--<= link_to 'Edit', edit_trip_path(@trip) %> |-->

<%= link_to 'Go to your List', trips_path %>
<%= link_to 'Explore more cities', trips_explore_path %>
