<div class="reveal" id="signupmodal" data-reveal>
  <p class="lead">

		<h2>Sign up</h2>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.text_field :username, placeholder: "username", autofocus: true  %>
			</div>

			<div class="field">
				<%= f.email_field :email, placeholder: "email" %>
			</div>

			<div class="field">
				<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
				<% end %><br />
				<%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.password_field :password_confirmation, placeholder: "confirm password", autocomplete: "off" %>
			</div>

			<div class="actions">
				<%= f.submit "Sign up" %>
			</div>
		<% end %>

<p><h6>Already a member?</h6></p>

<!--extracted from render devise/shared/links-->

 <%= render "devise/shared/links" %>

	  <button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
  	</button>
</div>