<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
			<% if user_signed_in? %>
				Logged in as <strong><%= current_user.username %></strong>
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			<% else %>
				<p><a data-open="loginmodal">LOGIN</a><%= render "loginmodal" %></p>
				<p><a data-open="signupmodal">SIGNUP</a><%= render "signupmodal" %></p>
			<% end %>
    <%= yield %>

  </body>
</html>
