<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "WanderList" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<header class="header">
  <h1 class="main-header"><a class="headline" href="/">WanderList</a></h1>
  <ul class="header-subnav">
<div class="top-bar">
	<% if user_signed_in? %>
  <div class="top-bar-left">
		<ul class="menu"></ul>
		<li><a href='/trips/'><%= current_user.username %>'s List</a></li>
	</div>
  <div class="top-bar-right">
        <ul class="menu">
					<li><%= link_to 'Explore', trips_explore_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
			<% else %>
		<ul class="menu">
				<li><a data-open="loginmodal">LOGIN</a><%= render "splash/loginmodal" %></li>
				<li><a data-open="signupmodal">SIGNUP</a><%= render "splash/signupmodal" %></li>
			<% end %>
    </ul>
  </div>
</div>
		</ul>
</header>
    <%= yield %>
  </body>
</html>